.b-side-drawer {
  width: 320px;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
  z-index: 1050;
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  transition: transform .4s ease-in-out;
  will-change: transform;
  transform: translateX(-100%);
}

.b-side-drawer-active {
  transform: translateX(0) !important;
}

.b-side-drawer-right {
  right: 0;
  left: auto;
  transform: translateX(100%);
}

